<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#ffff00" type="pacman" [fullScreen]="true"><p style="color:white" > Pensando... </p></ngx-spinner> 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img src="../assets/img/coe-apis.png" class="d-inline-block align-middle mr-2">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" routerLink="/inicio">Inicio</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/add-path">Agregar Paths</a></li>
    </ul>
  </div>

</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>